<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-exchange-heading" jhiTranslate="entityManagerApp.exchange.home.createOrEditLabel">Create or edit a Exchange</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="entityManagerApp.exchange.mic" for="field_mic">Mic</label>
                    <input type="text" class="form-control" name="mic" id="field_mic"
                           formControlName="mic"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="entityManagerApp.exchange.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="entityManagerApp.exchange.mic" for="field_mic">Mic</label>
                    <select class="form-control" id="field_mic" name="mic" formControlName="mic">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stockOption.id === editForm.get('mic')!.value?.id ? editForm.get('mic')!.value : stockOption" *ngFor="let stockOption of mics; trackBy: trackById">{{ stockOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
